<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Netmatter_Bridge>
            <version>0.0.1</version>
        </Netmatter_Bridge>
    </modules>
	<global>
		<helpers>
			<bridge>
				<class>Netmatter_Bridge_Helper</class>
			</bridge>
		</helpers>
		<models>
			<netmatter_bridge>
				<class>Netmatter_Bridge_Model</class>
			</netmatter_bridge>
		</models>
		<events>
			<sales_order_place_after>
				<observers>
					<netmatter_bridge_order_observer>
						<type>singleton</type>
						<class>netmatter_bridge/order_observer</class>
						<method>sales_order_place_after</method>
					</netmatter_bridge_order_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<netmatter_bridge_order_observer>
						<type>singleton</type>
						<class>netmatter_bridge/order_observer</class>
						<method>sales_order_save_after</method>
					</netmatter_bridge_order_observer>
				</observers>
			</sales_order_save_after>
			<sales_order_payment_pay>
				<observers>
					<netmatter_bridge_order_observer>
						<type>singleton</type>
						<class>netmatter_bridge/order_observer</class>
						<method>sales_order_payment_pay</method>
					</netmatter_bridge_order_observer>
				</observers>
			</sales_order_payment_pay>
		</events>
		<blocks>
			<bridge>
				<class>Netmatter_Bridge_Block</class>
			</bridge>
		</blocks>
	</global>
    <frontend>
        <routers>
            <bridge>
                <use>standard</use>
                <args>
                    <module>Netmatter_Bridge</module>
                    <frontName>netmatter</frontName>
                </args>
            </bridge>
        </routers>  
    </frontend>
</config>
